<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2 class="text-center">Form Data</h2>
            <form class="form" [formGroup]="Temployee" (ngSubmit)="createEmployee()">
                <div class="mb-3">
                    <mat-form-field class="full-width">
                        <mat-label for="id">Id</mat-label>
                        <input id="id" matInput placeholder="Ex. Nougat" formControlName="id">
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field class="full-width">
                        <mat-label for="name">Name</mat-label>
                        <input id="name" matInput placeholder="Ex. Nougat" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field class="full-width">
                        <mat-label for="email">Email</mat-label>
                        <input id="email" matInput placeholder="Ex. Nougat" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field class="full-width">
                        <mat-label for="description">Description</mat-label>
                        <input id="description" matInput placeholder="Ex. Nougat" formControlName="description">
                    </mat-form-field>
                </div>
                <button type="submit" class="btn btn-primary">Create employee</button>
            </form>
        </div>
    </div>
</div>